*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 600px;
    border: 1px solid red;
    display: flex;
    /* flex-direction:row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    justify-content:center; 
    align-items: center;
    /* row-gap: 40px; */
      column-gap: 20px;   
    align-content: center;
}

.box{
    border: 2px solid green;
    width: 60px;
    /* flex-basis: 33%; */
}
#box-1{
    
    flex-shrink: 2;
    align-self: stretch;

}

#box-2{
    order:5;
    flex-shrink: 3;
}